@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  position: relative;
  background-color: #ffffff;
  padding: 0 70px;
}

.navigation-logo {
  margin-bottom: -6px;
  z-index: 1;
}

.page-header-logo {
  display: block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 500px;
  gap: 3px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  min-width: 400px;
  padding: 0;
  margin: 0;
  margin-left: 28px;
  margin-right: auto;
}

.navigation-user {
  justify-content: flex-end;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 268px;
  margin-left: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-family: inherit;
}

.current-link::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -1px;
  height: 2px;
  background-color: #756157;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-user-link {
  position: relative;
  display: block;
  padding: 22px 12px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  color: #000000;
}

.favorite-number {
  position: absolute;
  font-size: 10px;
  text-align: center;
  font-family: inherit;
  width: 20px;
  height: 20px;
  color: #ffffff;
  top: 1px;
  right: -3px;
  border-radius: 50%;
  background-color: #7db54f;
}

.header-button {
  display: block;
  padding: 8px 34px;
  background-color: #756157;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
}

.hero {
  background-image: url(../images/background/divider.svg), url(../images/background/index-background.jpg);
  background-color: #87cefa;
  color: #ffffff;
  background-size: 1200px auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  min-height: 485px, 485px;
  padding-top: 51px;
  padding-right: 70px;
  padding-bottom: 82px;
  padding-left: 70px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.text-wrapper {
  padding: 69px 0;
}

.subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 25px;
}

.text-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-item {
  width: 400px;
  flex-grow: 1;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 112px 85px;
  gap: 62px;
}

.advantages-img {
  display: block;
  object-fit: cover;
  height: 100%;
}

.advantages-item-wrapper h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages-item-wrapper h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 2px;
  margin-top: 30px;
  margin-left: 85px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-light .advantages-item-wrapper h3::after,
.advantages-gray .advantages-item-wrapper h3::after {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}

.advantages-item-wrapper p {
  margin: 0;
  text-align: center;
}


.advantages-dark {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-light {
  background-color: #83B3D31F;
}

.advantages-gray {
  background-color: #83B3D333;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #83B3D31F;
}

.service-item {
  min-height: 385px;
  width: 400px;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  padding: 80px 85px;
}

.item-light {
  background-color: #ffffff;
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}

.service-description {
  margin: 0;
}

.service-title-icon::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.service-title-home::before {
  background-image: url("../images/service/service-home.svg");
}

.service-title-food::before {
  background-image: url("../images/service/service-food.svg");
}

.service-title-gift::before {
  background-image: url("../images/service/service-gift.svg");
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  display: block;
  padding: 8px 50px;
  margin: 54px 412px 54px;
}

.subscribe {
  background-image: url("../images/background/subscribe-background.jpg");
  background-color: #87cefa;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 96px 258px 104px 258px;
}

.subtitle-subscribe {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.text-subscribe {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-email {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  height: 52px;
  border: none;
  margin: 0;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  font-style: inherit;
  line-height: 36px;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  width: 232px;
  border-radius: 0 4px 4px 0;
  border: none;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  max-width: 500px;
  padding: 5px 195px;
  align-self: center;
}

.html-academy-logo-link {
  display: flex;
  justify-content: flex-end;
  width: 115px;
  height: 33px;
  margin-left: 45px;
}

.social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}

.social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 47px;
  min-height: 40px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-hotels {
  background-image: url("../images/background/catalog-background.jpg");
  background-color: #87cefa;
  color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  background-image: url("../images/home.svg");
  width: 20px;
  height: 20px;
  background-position: left;
  background-repeat: no-repeat;
}

.catalog-filter-list {
  list-style-type: none;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  margin: 0;
  border-radius: 4px;
  padding: 8px 50px;
  font-weight: 700;
}

.button-submit {
  margin-bottom: 32px;
  width: 191px;
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
  width: 191px;
}

.filter-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 294px;
  margin-right: auto;
}

.select-find {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin-right: 200px;
}

.select-control {
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 131px 12px 20px;
  padding-right: 48px;
  box-sizing: border-box;
  appearance: none;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.catalog-view-buttons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 160px;
}

.catalog-view-button {
  display: block;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-button-card {
  background-image: url(../images/view-card.svg);
}

.view-button-tile {
  background-image: url(../images/view-tile.svg);
}

.view-button-list {
  background-image: url(../images/view-list.svg);
}

.hotels-list-section {
  padding: 0 70px 60px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style: none;
}

.hotel-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto 1fr;
  padding: 20px 19px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  gap: 16px 20px;
}

.hotel-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1/3;
  grid-row: 2/-1;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}

.hotel-type {
  grid-column: 1/2;
}

.hotel-price {
  grid-column: 2/3;
  justify-self: end;
}

.stars {
  background-image: url(../images/star.svg);
  height: 17px;
  background-repeat: space;
}

.stars-four {
  width: 89px;
}

.stars-three {
  width: 66px;
}

.stars-two {
  width: 42px;
}

.button-more {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 26px;
  border-radius: 4px;
  grid-column: 1/2;
  display: block;
}

.button-favotite {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  grid-column: 2/3;
}

.button-in-favotite {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  grid-column: 2/3;
  padding: 8px 18px;
}

.hotel-raiting {
  box-sizing: border-box;
  margin: 0;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  justify-self: end;
}

.hotel-card-buttons {
  display: flex;
  justify-content: space-between;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  padding: 12px 24px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-more {
  color: #000000;
  background-color: #ffffff;
}

.subscribe-catalog {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 684px;
  margin: 0 auto;
}

.footer-page {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-top: 45px;
  padding-bottom: 30px;
}

.catalog-filter {
  display: flex;
  gap: 70px;
  padding: 35px 70px 70px 70px;
}

.choice {
  display: flex;
  flex-direction: column;
}
